
<div class="nav">
    <div class="logo">logo</div>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Contact</a></li>
        

    </ul>
    <select name="category" id="category">Select Category</select>
    <input type="text">
    <button>Search</button>
    <a href="#" routerLink="login">Login / Register</a>
    <a href="#"><img src="../../assets/heart.png" alt="wish list" width="35px" height="35px" srcset=""></a>
    <a href=""><img src="" alt=""></a>
    
</div>